.topHeading{
    text-transform: uppercase !important;
    font-family: var(--font-roboto);
    font-size: var(--font-lg) !important;
    font-weight: 700 !important;
}

.subHeading{
    font-family: var(--font-roboto);
}

.heading{
    font-family: var(--font-roboto);
}