.logoContainer {
    padding: 3rem 0;
}

.marqueeItem {
    margin: var(--margin-lg);
}

.servicesSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: fit-content;
    padding-bottom: 5rem;
}

.servicesHeading {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.description {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    color: #929292 !important;
}

.iconBox_1 {
    grid-row-start: 2 !important;
    grid-row-end: 4 !important;
    grid-column-start: 4 !important;
    background-color: #ecf4ff !important;
}

.iconBox_2 {
    grid-row-start: 3 !important;
    grid-row-end: 5 !important;
    grid-column-start: 3 !important;
    border-top-right-radius: 0 !important;
    background-color: #9bbfee !important;
}

.iconBox_3 {
    grid-row-start: 4 !important;
    grid-row-end: 6 !important;
    grid-column-start: 2 !important;
    border-top-right-radius: 0 !important;
    background-color: #0248a4 !important;
    color: #ffffff !important;
}

.iconBox_4 {
    grid-row-start: 5 !important;
    grid-row-end: 8 !important;
    grid-column-start: 1 !important;
    border-top-right-radius: 0 !important;
    background-color: #ffffff !important;
}

.btn {
    grid-row-start: 1 !important;
    /* grid-row-end: 8 !important; */
    grid-column-start: 3 !important;
    width: fit-content !important;
    margin-left: auto;
    padding: var(--padding-sm) var(--padding-lg) !important;
}

.portfolioSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 5rem;
}

.portfolio_heading {
    grid-row-start: 1 !important;
    grid-row-end: 2 !important;
    grid-column-start: 1 !important;
    grid-column-end: 3 !important;
}

.portfolioItem_1 {
    grid-column-start: 1 !important;
    grid-row-start: 2 !important;
    grid-row-end: 4 !important;
    grid-column-end: 3 !important;
}

.portfolioItem_2 {
    grid-column-start: 3 !important;
    grid-row-start: 2 !important;
    grid-row-end: 4 !important;
}

.portfolioItem_3 {
    grid-column-start: 3 !important;
    grid-row-start: 4 !important;
    grid-row-end: 5 !important;
}

.portfolioItem_4 {
    grid-column-start: 1 !important;
    grid-row-start: 4 !important;
    grid-row-end: 5 !important;
}

.portfolioItem_5 {
    grid-column-start: 2 !important;
    grid-row-start: 4 !important;
    grid-row-end: 5 !important;
}
.testimonialContainer {
    padding: 6rem 0;
}

.testimonialCard {
    margin: 0 1rem;
}

.testimonialHeading {
    color: #fff !important;
    margin-bottom: var(--font-3_5xl);
}
