.listItem {
  display: grid;
  grid-template-columns: 10px auto;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  height: 66px;
  font-size: 1rem;;
  margin-bottom: 5px;
  border-left: 5px solid transparent;
  transition: border-left 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.listItem.active {
background-color: #f0f0f0;
color:#003274;
font-weight: 600;

}

.lineDiv.active{
  height: 66px;
  border: 6px solid #003274;
  border-radius: 0px 20px 20px 0px;
}

.icon{
  width: 30px;
  height: 30px;
}