.header {
    width: 90%;
    padding: 0.5rem 0;
    margin: 0 auto;
    gap: 1.5rem;
}

.navList {
    text-decoration: none;
    color: var(--text-white);
    gap: 2.5rem;
}

.navDiv {
    width: 100%;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 100;
}


.link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.link {
    text-decoration: none;
    color: var(--text-white);
    line-height: 1.5rem;
    display: inline-block;
    position: relative;
}

.cta {
    gap: 2.5rem;
    text-decoration: none;
    color: var(--text-white);
    line-height: 1.5rem;
}

.btn {
    font-weight: 600 !important;
    font-size: var(--font-md) !important;
}

.sidebar{
    display: none;
}

@media (max-width: 768px) {
    .navList , .link,.btn {
        display: none !important;
    }
    .sidebar {
        display: block;
    }

    .header{
        justify-content: space-between;
    }
}
