.FormDiv {
    border-radius: var(--border-radius-md);
    border: 1px solid rgba(245, 245, 245, 0.8);
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: var(--padding-lg);
}


.btn {
    color: var(--white) !important;
    background-color: var(--royal-blue) !important;
    width: 30% !important;
}


@media screen and (max-width: 768px){
    .FormLabel{
        flex-direction: column;
        gap: 2rem;
    }
    .btn{
        width: 100% !important;
    }
}