.img {
    width: '141px';
    height: auto;
    display: block;
    margin: 1rem auto;
}

.FormDiv {
    border-radius: 1rem;
    border: 1px solid rgba(245, 245, 245, 0.8);
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
}

.ImageDiv{
    display: flex;
    justify-content: center;
}
