.FormDiv {
    border-radius: var(--border-radius-md);
    border: 1px solid rgba(245, 245, 245, 0.8);
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: var(--padding-lg);
}


.btn {
    color: var(--text-white) !important;
    background-color: #003274 !important;
    width: 30% !important;
}
