.description {
    color: var(--text-white);
}

.button {
    border: 0 !important;
}

.heroSection {
    min-height: 855px;
    position: relative;
    color: var(--text-white);
    padding: 0 var(--padding-xxxl);
    text-align: center;
    overflow: hidden !important;
    color: var(--white) !important;
}

.heroSectionBackground {
    position: relative;
    background: linear-gradient(180deg, #0e002d 0%, #003274 137.72%);
    min-height: 100%;
    width: 100%;
}

.lottieImg {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: flex-end;
    position: sticky;
    top: 20px;
}

.scrollDown {
    cursor: pointer;
}

@media (max-width: 768px) {
    .heading {
        font-size: 2rem;
        font-weight: 900;
    }

    .heroSection {
        padding: 0 1rem;
        min-height: 500px;
    }

    .scrollDown {
        display: none;
    }

    .lottieImg {
        display: none;
    }
}

@media (max-width: 480px) {
    .heroSection {
        padding: 0 1rem;
    }
}
