.ProjectIntroductionContainer{
    color: var(--white) !important;
    padding-top: var(--padding-xxxl);
    padding-bottom: var(--padding-xxxl);
}

.intro{
    border-left: 2px solid var(--white);
    padding-left: var(--padding-sm);
}