.BlogImg {
    position: relative;
}

.img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-lg);
}

.keywords {
    position: absolute;
    bottom: 0;
    padding: var(--padding-sm);
    border-radius: var(--border-radius-lg);
    color: var(--twitter);
}

.btn {
    padding: var(--padding-xs) var(--padding-sm);
    cursor: pointer;
    border-radius: var(--border-radius-lg);
    color: var(--secondary-color);
    background-color: var(--light-blue);
}

.Blog_Card {
    border-radius: var(--border-radius-lg);
    background: rgba(0, 50, 116, 0.03);
    padding: var(--padding-md);
}

.blog_date {
    color: rgba(50, 50, 50, 0.6);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.blog_link {
    color: var(--royal-blue);
    text-decoration-line: underline;
    margin-top: var(--padding-xs);
}

.blogTitle {
    margin-bottom: var(--padding-xs);
}
