.ProjectConclusionContainer{
    color: var(--white) !important;
    padding-bottom: var(--body-inline-space);
    padding-top: var(--body-inline-space);
}

@media (max-width: 768px) {
    .imgContainer{
       display:none;
    }
}