.topHeading{
    text-transform: uppercase !important;
    font-family: "Roboto", sans-serif !important;
}

.subHeading{
    font-family: "Roboto", sans-serif !important;
}

.heading{
    font-family: "Roboto", sans-serif !important;
}