.topHeading{
    text-transform: uppercase;
    font-size: var(--font-lg);
    line-height: var(--lh-150);
}

.heading{
    font-size: var(--font-xxl);
    line-height: var(--lh-150);
}

.subHeading{
    font-size: var(--font-lg);
    line-height: var(--lh-150);
}