.ProjectContainer {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    align-items: center;
    background-color: var(--white) !important;
    border-radius: var(--border-radius-sm);
    padding-right: var(--padding-md);
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* .Heading {
    color: #242424;
}

.subHeading {
    color: #003274;
} */

.heading {
    text-align: left;
}

.description {
    color: #3e424a;
}

.btn {
    background-color: var(--royal-blue) !important;
    color: var(--white) !important;
    font-size: var(--font-sm) !important;
    font-weight: 400 !important;
}
.animatedImg {
    /* display: none; */
}
.leftContainer {
    flex: 1;
    padding: 0px 0px;
    /* vertical scroller  */
    overflow-y: auto;
    position: relative;
    /* Fixed height  */
    height: 350px;
}

/* Style the scrollbar */
.leftContainer::-webkit-scrollbar {
    width: 8px;
}

.leftContainer::-webkit-scrollbar-thumb {
    background-color: var(--royal-blue);
    border-radius: 8px; /* Adjust the radius as needed */
}

.leftContainer::-webkit-scrollbar-track {
    background-color: #dadada;
    border-radius: 8px;
}

.leftArrow,
.rightArrow {
    display: none;
}

@media screen and (max-width: 768px) {
    .ProjectContainer {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        padding: var(--padding-md);
    }

    .leftContainer {
        height: auto;
        overflow-x: auto;
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }

    .leftArrow,
    .rightArrow {
        display: block;
        margin-top: 1rem;
    }
    .leftArrow {
        color: var(--royal-blue);
        width: 8%;
        height: auto;
        cursor: pointer;
    }

    .rightArrow {
        color: var(--royal-blue);
        width: 8%;
        height: 8%;
        cursor: pointer;
    }

    .rightContainer {
        justify-content: center;
        align-items: center;
    }
    .animatedImg {
        display: none;
    }
    .btn {
        width: 100%;
    }
}
