.blinkDot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--white);
    border-radius: 50%;
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
