.itemContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.projectItems {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.icon {
    outline-color: var(--royal-blue) !important;
}

.heading {
    color: #23242a;
}

.description {
    color: #23242acc;
}

@media (max-width: 768px) {
    .itemContainer {
        grid-template-columns: 1fr;
    }
    .icon {
        margin-top: 0.3rem;
    }
}
