.testimonial_Box {
    border-radius: var(--border-radius-md);
    border: 1px solid #eff0f6;
    box-shadow: 0px 5px 14px 0px rgba(8, 15, 52, 0.04);
    padding: var(--padding-lg) var(--padding-md);
}

.userImageDiv {
    border-radius: var(--border-radius-full);
    background-color: var(--light-blue);
}

.avatar {
    object-fit: cover;
    border-radius: var(--border-radius-full);
}
