.HerosectionContainer {
    position: relative;
    background: linear-gradient(180deg, #0e002d 0%, #003274 137.72%);
    width: 100%;
    min-height: 413px;
    color: var(--text-white);
    padding: 0 var(--padding-xxxl);
    text-align: center;
    opacity: 10000;
}

.description {
    color: var(--text-white);
}

.test {
    z-index: 2;
}
