.ListContainer {
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
}

.ListHead {
    color: #181433;
}

.ListItems {
    margin: 1rem 0;
    color: #181433;
    font-size: var(--font-md);
}
