.ListContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: start;
}

.ListHead {
    color: var(--dark-purple);
}

.ListItems {
    margin: 1rem 0;
    color: var(--dark-purple);
    font-size: var(--font-md);
}


@media (max-width: 768px) {
    .ListHead{
        font-size: var(--font-xl);
    }
}