.LogoCard {
    border-radius: var(--border-radius-md);
    background: #fefefe;
    padding: var(--padding-lg);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.LogoCardImg {
     /* fixed width and height so that the image does not stretch */
    width: 200px !important;
    height: 40px !important;
    object-fit: contain;
    object-position: center;
}
