.img {
    display: block;
    object-fit: cover;
    padding: 2rem;
    width: 60%;
    justify-content: space-between;
    background-color: var(--white);
    margin-left: auto;
}

.CardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
    .CardContainer {
        display: flex;
        flex-direction: column;
    }
    .img {
        display: none;
    }
}
