.sidebarIcon{
    width:30px;
    height: 30px;
    cursor: pointer;
}

.Drawer{
    background: linear-gradient(180deg, #0e002d 0%, #003274 137.72%) !important;
    color:#fff !important;

}

.logo{
    width:200px;
    height: 200px;
    margin: 0 auto;
}