.TechContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.techStack{
    display: block;
    width: 60%;
    object-fit: cover;
}

.description {
    color: #303030CC;
}

.topHeading{
    color: var(--royal-blue);
}


@media (max-width: 768px) {
    .TechContainer{
        grid-template-columns: 1fr;
    }
    .techStack{
        width: 100%;
    }
}
