.portfolioCard {
    border-radius: var(--border-radius-md);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--padding-lg);
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.btn{
    font-size: var(--font-sm) !important;
}

.btn_1 {
    border-radius: var(--border-radius-xl);
    background: #003274;
    text-align: center;
    color: var(--text-white);
    padding: var(--padding-xs) var(--padding-sm);
}

.description {
    color: #000;
    width: 50%;
}

.portfolioCard__content{
    margin-top: auto;
    margin-bottom: auto;
}