.portfolioCard {
    padding: var(--padding-lg);
    border-radius: var(--border-radius-md);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--padding-lg);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background: linear-gradient(95.6deg, #d7e7ff -4.48%, #7eb3ff 102.36%);
}

.btn{
    font-size: var(--font-sm) !important;
}

.btn_1 {
    border-radius: var(--border-radius-xl);
    background: #003274;
    text-align: center;
    color: var(--text-white);
    padding: var(--padding-xs) var(--padding-sm);
}

.portfolioCard__image {
    border-radius: var(--border-radius-md);
}

.description {
    color: #000;
}

@media screen and (max-width: 768px) {
    .portfolioCard {
        grid-template-columns: 1fr;
    }
}
